*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131313;
    font-size: 14px;
    font-family: 'Merriweather', sans-serif;
}

 /* width - do not work with firefox */ 
  /* width - do not work with firefox */ 
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1b1717ef;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #535353;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #414141;
  } 
.navbar{
    background: #12131a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /* this is so that it would always be on top*/
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-folor: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;

}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    /* outline: #ffb199; */
    border-radius: 4px;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.5), -2px -2px 4px rgba(255,255,255,0.5);
}
.button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #42e4a0;
    transition: all 0.35s;
    border-radius: 4px;

}

.button:hover{
    color: #fff;

}

.button:hover:after{
    width:100%;
}

.navbar__links:hover{
    color:#18bbfc;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/* Dropdown */

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
}

ul li ul.dropdown li{
    display: block;

}

ul li ul.dropdown{
    width: 100%;
    background: #12131a;
    position: absolute;
    z-index: 999;
    display: none;
    justify-content: center;
}

ul li ul.dropdown a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

ul li ul.dropdown a:hover{
    color:#18bbfc;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

ul li:hover ul.dropdown{
    display: block;
}
@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        
    }

    .navbar__menu.active{
        background: #12131a;
        top: 100%;
        opacity: 1;
        transform: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50px;
        margin: 0;
    }
    .button:after {
        display: none;
    }
    

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .triangle{
        display: none;
    }
    ul li:hover ul.dropdown{
        display: none;
    }
}

.hero{
    background:  #000000;
    padding: 150px 0;
    max-height: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.hero h1{
    color: #fff;
    font-size: 60px;
}

.container{
    background-color: #12131a;
    height: 100vh;
    margin-top: 5rem;
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 100px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 5px;
    color: #fff;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #2356c4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 400;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 25px;
}

.contact-inputs:focus{
    border: 2px solid #2356c4;
}

.contact-inputs::placeholder{
    color: #575757;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background:#2356c4;
    cursor: pointer;
}

.contact-left button:hover{
    transform: scale(1.25);
    transition: ease-in-out 0.3s;
    background-color: #1c8fdb;
}
.contact-right{
    position: relative;
    width: 300px; /* Adjust grid width as needed */
    height: 300px; /* Adjust grid height as needed */
    background-color: #000000; /* Set background color to white */
    border: 1px solid #ffffff; 
}
.contact-right h1{
    color: #fff;

.circle {
    width: 20px; /* Adjust circle size as needed */
    height: 20px; /* Adjust circle size as needed */
    background-color: #007bff; /* Circle color */
    border-radius: 50%; /* Create a circle shape */
    position: absolute;
}

}
@media (max-width: 800px) {
    .contact-inputs{
        width: 80vw;
    }

    .contact-right{
        display: none;
    }
}