*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #12131a;
    min-width: 50%;
    min-height: 50%;
}
 /* width - do not work with firefox */ 
 ::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1b1717ef;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #535353;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #414141;
  } 
.navbar{
    background: #12131a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /* this is so that it would always be on top*/
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-folor: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;

}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    /* outline: #ffb199; */
    border-radius: 4px;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 4px rgba(102, 102, 102, 0.5), -2px -2px 4px rgba(255,255,255,0.5);
}
.button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #42e4a0;
    transition: all 0.35s;
    border-radius: 4px;

}

.button:hover{
    color: #fff;

}

.button:hover:after{
    width:100%;
}

.navbar__links:hover{
    color:#18bbfc;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/* Dropdown */

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
}

ul li ul.dropdown li{
    display: block;

}

ul li ul.dropdown{
    width: 100%;
    background: #12131a;
    position: absolute;
    z-index: 999;
    display: none;
    justify-content: center;
}

ul li ul.dropdown a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

ul li ul.dropdown a:hover{
    color:#18bbfc;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

ul li:hover ul.dropdown{
    display: block;
}
@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        
    }

    .navbar__menu.active{
        background: #12131a;
        top: 100%;
        opacity: 1;
        transform: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50px;
        margin: 0;
    }
    
    .button:after {
        display: none;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .triangle{
        display: none;
    }
    ul li:hover ul.dropdown{
        display: none;
    }
}

/* Hero Section */
.hero{
    background:  #000000;
    padding: 150px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: relative;
    overflow: hidden;
    border: none; /* Remove border */
    color: white; /* Text color */
    cursor: pointer; /* Set cursor style to pointer */
    outline: none; /* Remove default outline */
    /* margin: 0 20%; */
      
}

.hero:before {
    --size: 0; /* Custom property for size */
    content: ''; /* Empty content */
    position: absolute; /* Set the position absolute */
    left: var(--x); /* Position from left based on mouse movement */
    top: var(--y); /* Position from top based on mouse movement */
    width: var(--size); /* Width of the pseudo-element */
    height: var(--size); /* Height of the pseudo-element */
    background: radial-gradient(circle closest-side, #66FCF1, transparent); /* Gradient background */
    transform: translate(-50%, -50%); /* Translate the pseudo-element */
    transition: width 0.2s ease, height 0.2s ease; /* Transition effect for width and height */
    
  }
  
  .hero:hover:before {
    --size: 500px; /* Size of the pseudo-element on hover */
    z-index: 2;
}



.hero__img{
    display: flex;
    justify-content: right; /* Center the content horizontally */
    align-items: right;
    padding-right: 5%;
    z-index: 100;
}

.circle-image{
    width: 400px;
    height: 400px;
    background-image: url('me.jpg'); /* Replace 'your-image-file.jpg' with the path to your image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center;
    border-radius: 50%;
    pointer-events: none; 
}
.divider{
    width: 4px; /* Width of the vertical line */
    background-color: #66FCF1;
    z-index: 100;
}
.hero__overview{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 5%;
    z-index: 100;
}
.hero__heading{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.hero__heading h1{
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    font-size: 3rem;
    font-weight: 700 ;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


@media screen and (max-width: 768px){
    .hero{
        background:  #000000;
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        position: relative;
        align-content: center;
        justify-content: center;
     /* Remove default outline */
        /* margin: 0 20%; */
          
    }
    .hero__img{
        align-self: center;
        padding: 1rem 0;
    }
    .circle-image{
        width: 300px;
        height: 300px;
    }
    .divider{
        display: none;

    }        
    .hero__overview{
        padding-left: 0;
    }
    .hero__heading{
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 0.75rem;
    }

    .hero__description{
        font-size: 1.75rem;
        text-align: center;
    }

    .main__btn{
        align-self: center;
        font-size: 1.25rem;
        max-width: 300px;
        padding: 20px;
        border: none;
        border-radius: 4px;
        margin-top: 1rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
}
/* The name box */
.box{
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    background-color: #12131a;
    box-sizing: border-box;
}
#Experience, #Contact{
    background-color: #1F2833;
}

.content{
    display: inline-block;
    margin-left: 15%;
    color: #ffffff;
    font-size: 2.25rem;
    font-weight: 600;
    text-decoration: none; /* Remove default underline */
    border-bottom: 2px solid #45A29E; /* Add custom underline */
    border-radius: 5px;
    padding-bottom: 5px;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-folor: transparent;
}
@media screen and (max-width: 768px){
    .box{
        padding: 1.5rem 0;
    }

    .content{
        font-size: 1.75rem;
    }
}


/* About Section */
.main{
    background-color: #12131a;
    justify-content: center;
    align-content: center;

    
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */
    height: 100%;
    z-index: 1;
    width: 100%;
    line-height: 1.5;

}
.main__container img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0 0 20px rgba(160, 255, 239, 0.5);
}
.main__content, .education, .more{
    
    color: #fff;
    display: flex;
    /* justify-content: center; Center the content horizontally */
    padding: 0 20%;

}

.main__content p, .education p, .more p {
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 100;
    padding: 1.25rem 0;
    line-height: 1.5;
}

.more a{
    font-weight: 700;
    color:#fff;
}

.main__btn{
    font-size: 1.8rem;
    max-width: 200px;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 2px 2px 4px rgba(110, 110, 110, 0.5), -2px -2px 4px rgba(255,255,255,0.5);
    padding: 30px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}


.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #5de7d0;
    transition: all 0.35s;
    border-radius: 4px;

}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width:100%;
}


/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        line-height: 1.25;
    }

    .main__content{
        text-align: center;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .main__container img{
        align-items: center;
        
    }
    .education p{
        font-size: 1.1rem;
    }
    .more p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content p, .education p, .more p{
        font-size: 1rem;
    }

}

/* Experience section */

.line_class {
    display: flex; /* Add display: flex to use alignment properties */
    justify-content: center; /* Horizontally center the line within its container */
    background-color: #1F2833;
     /* Set the width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

.line {
    width: 70%; /* Set the width of the line to 100% of its container */
    height: 5px; /* Height of the line */
    background-color: #66FCF1;
    z-index: 10;
    border-radius: 5px;
}

.experience-link {
    pointer-events: auto;
    text-decoration: none; /* Enable pointer events on the link */
  }
.experience-section {
    display: grid;
    grid-template-columns: 20% 20% 1fr; /* Create a grid with flexible columns */
    padding: 2rem 0;
    height: 100%;
    background-color: #1F2833;
  }
/* .experience-section:hover {
    background-color: rgba(61, 89, 165, 0.685);
    transition: background-color 0.3s ease-in-out; 
} */
.nothing{
    font-size: 1.25rem;
    text-align: left;
    color: #fff
}
  .year {
    font-size: 1.25rem;
    text-align: left;
    margin: 20px 0;
    color: #fff;
    opacity: 50%;
  }
  
.description {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-right: 20%;
    padding-left: 25px; /* Background color for the description box */
  }

.heading{
    font-size: 1.5rem;
    padding-top: 20px;
}

.position{
    text-align: left;
    font-size: 1.25rem;
    padding-top: 10px;
    opacity: 50%;
}
.experience-section img{
    max-width: 90%; /* Ensure the image doesn't exceed the width of its container */
    padding-top: 1rem;
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Ensure the image is displayed as a block element */
    align-content: left; 
    border-radius: 15px;
}
.skill__description{
    font-size: 1.25rem;
    padding-top: 1rem;
    text-align: justify;
    line-height: 1.5;
}
.skills{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    padding-top: 10px ;

}

.bean__box{
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #45a29d41;
    border-radius: 20px;

}

.bean__box p {
    margin: 0 ;
    color: #93e0b3;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .nothing{
        display: none;
    }
    .year {
        font-size: 1.1rem;
        text-align: left;
        margin: 0 0 0 20%;
        color: #fff;
        opacity: 50%;
    }
      
    .experience-section {
        display: flex;
        flex-direction: column;/* Create a grid with flexible columns */
        padding: 1rem 0;
        height: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding-right: 20%;
        padding-left: 20%; /* Background color for the description box */
    }

    .skill__description{
        font-size: 1rem;
        padding-top: 1rem
    }

    .position{
        font-size: 1rem;
    }

    .heading{
        font-size: 1.25rem;
    }
}

/* Project Section */
.services {
    background: #12131a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 20% 0 20%;
  }
  
 
.services__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 2 equal-width columns */
    grid-auto-rows: auto; /* Automatically adjust row height based on content */
    gap: 20px; /* Add gap between grid items */
    }
    
    .services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: none;
    position: relative; 
    ;/* Add border for visual separation */
    }
    .services__card .services_card_description {
        position: absolute;
        align-items: center;
        bottom: 0%; /* Initially hide the description window */
        width: 100%;
        height: 100%;
        background-color: #0b0c10c4; /* Semi-transparent background */
        color: #fff;
        padding: 10px;
        opacity: 0;
        transition: opacity 0.3s; /* Smooth transition effect */
      }
    .services_card_description{
        text-align: center;
    }

    .services_card_description h2{
        font-size: 24px;
        font-weight: 700;
    }

    .services_card_description h3{
        padding-top: 1rem;
        font-size: 20px;
        font-weight: 500;
    }
    .services_card_description p{
        padding-top: 1rem;
        font-size: 16px;
        font-weight: 200;
    }
    .services__card:hover .services_card_description {
        transform: scale(1.1);
        transition: ease-in-out 0.3s;
        opacity: 1; /* Show the description window on hover */
      }
    .services__card img {
    height: 350px;
    aspect-ratio: 9/16; /* Ensure image doesn't exceed container width */
    margin-bottom: 10px;
    background-color: #fff; /* Add space between image and h1 */
    }
    
    .services__card h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 1rem;
    color: #fff /* Remove default margin */
    }
  
  
  /* .services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
   */
  /* .services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .services__card button:hover {
    cursor: pointer;
  } */
  
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }

  /*Contact  */
.contact{
    background-color: #1F2833;
}
  .footer__container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .email h1, h2{
    color: #fff;
    text-align: center;
  }
#emailLink{
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    text-decoration: none;
}
.email h2{
    font-size: 1.25rem;
    font-weight: 100;
    padding-top: 1.5rem;
    padding-bottom: 15px;
  }
  .social__media {
    display: flex;
    justify-content: center; /* Center horizontally */
    padding: 20px; /* Add space around the icons */
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between; /* Add space between icons */
    align-items: center; /* Align icons vertically */
  }
  

  .social__icon--link {
    margin: 0 15px;
    color: #fff;
    font-size: 1.75rem; /* Add space between icons */
  }
  

  .social__icon--link:hover{
    transform: scale(1.25);
    transition: ease-in-out 0.3s;
  }

.thankyou{
    color: #fff;
    font-size: 16px;
    opacity: 1;
    padding: 2.5rem 0; 
    text-align: center;
}
 @media screen and (max-width: 768px) {
    .footer__container{
        padding: 0;
    }

    #emailLink{
        color: #fff;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
    }

    .email h2{
        font-size: 1rem;
        font-weight: 100;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .thankyou{
        color: #fff;
        font-size: 12px;
        opacity: 1;
        padding-top: 4rem; 
        text-align: center;
    }
 }

 @media screen and (max-width: 480px) {
    #emailLink{
        font-size: 1.2rem;
    }

    .email h2{
        font-size: 0.9rem;
    }

 }